@font-face {
  font-family: "plex";
  src: url(font/IBMPlexSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "plex";
  src: url(font/IBMPlexSans-Regular.ttf);
  font-weight: normal;
}

:root {
  /* Sizes */
  font-size: 64px;
  --small-size: 0.3rem;
  --half-size: 0.5rem;
  --base-size: 1rem;
  --mid-size: 1.5rem;
  --large-size: 2rem;
  --huge-size: 4rem;
  --xhuge-size: 6rem;
  --xxhuge-size: 8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;

  display: grid;
  position: relative;
  grid-template-rows: var(--mid-size) 1fr;

  font-family: "plex";
}

#navbar {
  z-index: 100;
  width: 85%;
  top: 0px;
  margin: auto;
  position: sticky;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 var(--small-size) var(--small-size);

  background-color: #dd3122;
}

.nav__button {
  font-size: 1rem;
  margin-left: var(--large-size);
  margin-right: auto;
  background-color: #dd3122;
}

.nav__span {
  font-size: 1rem;
  margin-right: var(--large-size);
  background-color: #dd3122;
}

.mainbar {
  width: 85%;
  margin: auto;
  margin-top: var(--large-size);

  display: grid;
  position: relative;
}

.ryuu-content {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.right {
  margin-left: auto;
  text-align: right;
}

.left {
  margin-right: auto;
  text-align: left;
}

#switch-button {
  z-index: 100;
  width: var(--large-size);
  height: var(--large-size);

  position: sticky;
  bottom: var(--small-size);
  left: calc(50% - var(--large-size) / 2);

  border-radius: var(--small-size);
  box-shadow: 0 0 0em 0.5em #dd3122;
  background: #eeeeee;
  font-size: var(--small-size);
}
