@font-face {
  font-family: "plex";
  src: url(font/IBMPlexSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "plex";
  src: url(font/IBMPlexSans-Regular.ttf);
  font-weight: normal;
}

:root {
  /* Sizes */
  font-size: 24px;
  --small-size: 0.3rem;
  --half-size: 0.5rem;
  --base-size: 1rem;
  --mid-size: 1.5rem;
  --large-size: 2rem;
  --huge-size: 4rem;
  --xhuge-size: 6rem;
  --xxhuge-size: 8rem;

  --notselected-color: #888888;
  --notselected-background-color: #888888;
  --selected-color: #eeeeee;
  --selected-background-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: grid;
  position: relative;
  grid-template-rows: var(--mid-size) 1fr var(--large-size);

  font-family: "plex";
  background-color: #000000;
}

#navbar {
  z-index: 100;
  width: 85%;
  top: 0px;
  margin: auto;
  position: sticky;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 var(--small-size) var(--small-size);

  color: var(--selected-color);
  background-color: var(--selected-background-color);
}

.nav__span {
  font-size: 1rem;
  margin: auto;

  color: var(--selected-color);
  background-color: var(--selected-background-color);
}

.mainbar {
  width: 85%;
  margin: auto;
  margin-top: var(--small-size);
  margin-bottom: var(--small-size);
  overflow: hidden;

  display: grid;
}

.ryuu-container {
  width: 100%;
  height: calc(100vh - var(--large-size) - var(--large-size));
  overflow: scroll;
  margin: 0;
  overflow-x: hidden;
}

.ryuu-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.ryuu-tab {
  width: 100%;
  height: min-content;
  margin-top: var(--small-size);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  border-radius: var(--small-size);
}

.ryuu-line {
  font-size: 0.8rem;

  padding: var(--half-size);
  overflow: hidden;

  display: flex;

  border-radius: var(--small-size);
}

.selected {
  width: calc(85vw - 1rem);
  padding: 0.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--selected-background-color);
  color: var(--selected-color);
}

.notselected {
  width: 1rem;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
  padding: 0;

  flex-shrink: 1;
  flex-grow: 0;

  background-color: var(--notselected-background-color);
  color: var(--notselected-color);
}

.actionsbar {
  width: 85%;
  height: var(--mid-size);
  margin: 0 auto;

  display: flex;
  flex-direction: row;

  border-radius: var(--base-size);
}

.actionsbar > button {
  margin: 0 var(--half-size) 0 var(--half-size);

  flex-grow: 1;

  border-radius: var(--small-size);
}

.modal {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  background-color: #eeeeee;
}

.language-options {
  display: none;
  flex-direction: column;
}

.language-back-go {
  display: flex;
  flex-direction: row;
}

.story-options {
  display: none;
}

.nav-button {
  height: var(--large-size);
  width: var(--large-size);
  margin: var(--small-size);

  flex-grow: 1;

  border: 1px solid gray;
  border-radius: var(--small-size);
}

li {
  margin: var(--base-size);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  list-style: none;
  cursor: pointer;

  border: 1px solid gray;
  border-radius: var(--small-size);
}

.selected-language {
  border: 1px solid red;
}
